@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
}
@inject LocService SharedLocalizer
<!-- Top content -->
<div class="account" id="app">
    <!-- Top menu -->
    <nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Content("~/")">
                    <img src="~/assets/img/logo.png" class="img-responsive" />
                </a>
            </div>
        </div>
    </nav>
    <div class="inner-bg" style="padding-top:0;">
        <div class="container">
            <div class="row">
                <div class="form-center">
                    <div class="col-sm-12 form-box wow fadeInUp">
                        <div class="form-top">
                            <h2>@SharedLocalizer.GetLocalizedHtmlString("changePass")</h2>
                        </div>
                        <div class="form-bottom">
                            <form method="post" asp-action="ChangePassword">
                                <div class="form-group">
                                    <label>@SharedLocalizer.GetLocalizedHtmlString("oldPassword") *</label>
                                    <div style="position:relative">
                                        <input type="password" class="password form-control" asp-for="OldPassword" id="oldPassword" />
                                        <i class="custorm-eye" v-bind:class="{ 'flaticon-hide': !openEye,'flaticon-view': openEye }" id="eye" @@click="showPass('oldPassword')" ></i>
                                    </div>
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>@SharedLocalizer.GetLocalizedHtmlString("newPassword") *</label>
                                    <div style="position:relative">
                                        <input type="password" class="password form-control" asp-for="NewPassword" id="password" />
                                        <i class="custorm-eye" v-bind:class="{ 'flaticon-hide': !openEye,'flaticon-view': openEye }" id="eye" @@click="showPass('password')" ></i>
                                    </div>                                    
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label>@SharedLocalizer.GetLocalizedHtmlString("confirmNewPassword") *</label>
                                    <div style="position:relative">
                                        <input type="password" class="password form-control" asp-for="ConfirmPassword" id="confirmPass" />
                                        <i class="custorm-eye" v-bind:class="{ 'flaticon-hide': !openEyeConfirm,'flaticon-view': openEyeConfirm }" id="eye" @@click="showPass('confirmPass','openEyeConfirm')"></i>
                                    </div>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="button-sigin" id="button-forgot" style="padding-top:10px">
                                    <button type="submit" class="btn btn-info background-color-twin">@SharedLocalizer.GetLocalizedHtmlString("changePass")</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    new Vue({
        el: '#app',
        data: {
            openEye: false,
            openEyeConfirm: false,
            password: '',
            snackbar: false,
            y: 'top',
            x: null,
            mode: '',
            timeout: 6000,
            text: 'Hello, I\'m a snackbar'
        },
        methods: {
            showPass(idName, eyeName = "openEye") {
                var password = document.getElementById(idName);
                if (password.type === "password") {
                    password.type = "text";
                    if (eyeName == "openEye") {
                        this.openEye = true;
                    } else {
                        this.openEyeConfirm = true;
                    }
                } else {
                    password.type = "password";
                    if (eyeName == "openEye") {
                        this.openEye = false;
                    } else {
                        this.openEyeConfirm = false;
                    }
                }
            }
        }
    })
</script>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
