@model ForgotPasswordViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = "Log in";
}

<!-- Top content -->
<div id="app" class="account">
    <!-- Top menu -->
    <nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Content("~/")">
                    <img src="~/assets/img/logo.png" class="img-responsive" />
                </a>
            </div>
        </div>
    </nav>
    <div class="inner-bg" style="padding-top:0;">
        <div class="container">
            <div class="row">
                <div class="form-center">
                    <div class="col-sm-12 form-box wow fadeInUp">
                        <div class="form-top">
                            <h3>@SharedLocalizer.GetLocalizedHtmlString("forgotPassword")</h3>
                            <p>@SharedLocalizer.GetLocalizedHtmlString("dontWorry")</p>
                        </div>
                        <div class="form-bottom">
                            <form method="post" asp-action="ForgotPassword" asp-route-returnurl="@ViewData["ReturnUrl"]">
                                <div class="form-group">
                                    <input type="text" class="input form-control" asp-for="Username" placeholder="@SharedLocalizer.GetLocalizedHtmlString("yourEmail")" />
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-info background-color-twin">@SharedLocalizer.GetLocalizedHtmlString("resetPass")</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}