@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}
@inject LocService SharedLocalizer
<!-- Top content -->
<div class="account" id="app">
    <!-- Top menu -->
    <nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Content("~/")">
                    <img src="~/assets/img/logo.png" class="img-responsive" />
                </a>
            </div>
        </div>
    </nav>
    <div class="inner-bg" style="padding-top:0;">
        <div class="container">
            <div class="row">
                <div class="form-center">
                    <div class="col-sm-12 form-box wow fadeInUp">
                        <div class="form-top">
                            <h3>@SharedLocalizer.GetLocalizedHtmlString("resetPass")</h3>
                            <p>@SharedLocalizer.GetLocalizedHtmlString("changePass")</p>
                        </div>
                        <div class="form-bottom">
                            <form method="post" asp-action="ResetPassword">
                                <input asp-for="Code" type="hidden" />
                                <input asp-for="UserId" type="hidden" />
                                <div class="form-group">
                                    <label class="form-control-label">@SharedLocalizer.GetLocalizedHtmlString("password") *</label>
                                    <div style="position:relative">
                                        <input type="password" class="form-control input" asp-for="Password" id="password" />
                                        <i class="custorm-eye" v-bind:class="{ 'flaticon-hide': !openEye,'flaticon-view': openEye }" id="eye" @@click="showPass('password')"></i>
                                    </div>
                                    <div class="has-danger">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">@SharedLocalizer.GetLocalizedHtmlString("confirmPassword") *</label>
                                    <div style="position:relative">
                                        <input type="password" class="form-control input" id="confirmPass" asp-for="ConfirmPassword" />
                                        <i class="custorm-eye" v-bind:class="{ 'flaticon-hide': !openEyeConfirm,'flaticon-view': openEyeConfirm }" id="eye" @@click="showPass('confirmPass','openEyeConfirm')"></i>
                                    </div>
                                    <div class="has-danger">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div  >
                                    <button type="submit" class="btn btn-info background-color-twin">@SharedLocalizer.GetLocalizedHtmlString("resetPass")</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            openEye: false,
            openEyeConfirm: false,
            password: '',
        },
        methods: {
            showPass(idName, eyeName = "openEye") {
                var password = document.getElementById(idName);
                if (password.type === "password") {
                    password.type = "text";
                    if (eyeName == "openEye") {
                        this.openEye = true;
                    } else {
                        this.openEyeConfirm = true;
                    }
                } else {
                    password.type = "password";
                    if (eyeName == "openEye") {
                        this.openEye = false;
                    } else {
                        this.openEyeConfirm = false;
                    }
                }
            }
        }
    })
</script>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
